{% load staticfiles %}
<html>
    <head>
        <title>Matriz de Referência</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        {% block header %}
        {% endblock %}
        <div class="content container">
            <div class="row">
                <div class="col-md-9">
                {% block content %}
                {% endblock %}
                </div>
                <div class="col-md-3">
                    {% block list-group %}
                    {% endblock %}
                </div>
            </div>
        </div>

    {% block scripts %}
    {% endblock %}
    </body>
</html>