{% extends 'base.html' %}
{% load static %}

{% block header %}
    <div class="page-header">
        <div class="top-menu">
            {% if user.is_authenticated %}
                User: {{ user.get_username }}
                <a href="{% url 'logout'%}?next={{request.path}}">Logout</a>
            {% else %}
                <a href="{% url 'login'%}?next={{request.path}}">Login</a>
            {% endif %}
        </div>
        <h1><a href="/">Relatórios</a></h1>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <h3><span class="glyphicon glyphicon-user"></span> Aluno: {{ user.get_username }} </h3>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Date</th>
                <th>Hour</th>
                <th>Performance</th>
                <th>Simulator</th>
            </tr>
            </thead>
            <tbody>


            {% for key, value  in game_session_dic_data.items %}
                <tr>
                    <td>{{ value.game_session.created_date.date }}</td>
                    <td>{{ value.game_session.created_date|date:"h:m:s" }}</td>
                    <td>{{ value.performace}}% </td>
                    <td><a href="#">Visualizar</a> </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>


    </div>
    <div class="row">

        <div id="chartBar" style="min-width: 310px; max-width: 800px; height: 200px; margin: 0 auto"></div>
        <br />
        <div id="chartPie" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
        <table id="datatable" class="invisible">
            <thead>
            <tr>
                <th></th>
                <th>Correct</th>
                <th>Wrong</th>
            </tr>
            </thead>
            <tbody>

            {% for key, value in user_dic_data.items %}
                <tr>
                    <th>{{ key }}</th>
                    <td>{{ value.accept }}</td>
                    <td>{{ value.wrong }}</td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
        <table id="datatable2" class="invisible">
            <thead>
            <tr>
                <th>Numero</th>
                <th>Qtd Erro</th>
            </tr>
            </thead>
            <tbody>

            {% for key, value in wrong_dic_data.items %}
                <tr>
                    <th> Numero {{ key }}</th>
                    <td>{{ value.value }}</td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}


{% block list-group %}
    <p>Alunos</p>
    <ul class="list-group">
        {% for key, value in user_dic_data.items %}
            <li class="list-group-item"><a href="{% url 'baysianet_detail' pk=value.id %}">{{ key }}</a></li>
        {% endfor %}
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
    </ul>
{% endblock %}


{% block scripts %}
    <script type="text/javascript" src="{% static 'js/charts/highcharts.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/charts/data.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/charts/exporting.js' %}"></script>

    <script type="text/javascript">
        $(function () {
            $('#chartBar').highcharts({
                data: {
                    table: 'datatable'
                },
                chart: {
                    type: 'bar'
                },
                title: {
                    text: 'Correct/Incorrect Answers '
                },
                yAxis: {
                    allowDecimals: true,
                    title: {
                        text: null
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Jogadas',
                        align: 'high'
                    },
                    labels: {
                        overflow: 'justify'
                    }
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'top',
                    x: -40,
                    y: 80,
                    floating: true,
                    borderWidth: 1,
                    backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
                    shadow: true
                },
                plotOptions: {
                    series: {
                        stacking: 'normal'
                    }
                },
                tooltip: {
                    formatter: function () {
                        return '<b>' + this.series.name + '</b><br/>' +
                                this.point.y + ' ' + this.point.name.toLowerCase();
                    }
                }
            });
            $('#chartPie').highcharts({
                data: {
                    table: 'datatable2'
                },
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: 'Frequency of mistakes by Number.'
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'top',
                    x: -40,
                    y: 80,
                    floating: true,
                    borderWidth: 1,
                    backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
                    shadow: true
                },
                yAxis: {
                    allowDecimals: false,
                    title: {
                        text: 'Units'
                    }
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: false
                        },
                        showInLegend: true
                    }
                },
                tooltip: {
                    formatter: function () {
                        return '<b>' + this.point.name +'</b><br/>' + this.series.name + " "  + this.point.y;
                    }
                }
            });
        });

    </script>

{% endblock %}


