{% extends 'base.html' %}
{% load static %}

{% block header %}
    <div class="page-header">
        <div class="top-menu">
            {% if user.is_authenticated %}
                User: {{ user.get_username }}
                <a href="{% url 'logout'%}?next={{request.path}}">Logout</a>
            {% else %}
                <a href="{% url 'login'%}?next={{request.path}}">Login</a>
            {% endif %}
        </div>
        <h1><a href="/">Simulator</a></h1>
    </div>
{% endblock %}

{% block content %}

    <div class="row">
        <h3><span class="glyphicon glyphicon-user"></span> Aluno: {{ user.get_username }} </h3>
        <h2>Jogo: {{ game }}</h2>
    </div>
    <div class="row">
        <span class="glyphicon glyphicon-backward"></span>
        <span class="glyphicon glyphicon-play"></span>
        <span class="glyphicon glyphicon-forward"></span>
    </div>

    <div id="simuladorRespostas" class="row">
          <div id="numero0" class="col-md-1 col-md-offset-1">.col-md-1</div>
          <div id="numero1" class="col-md-1">.col-md-1</div>
          <div id="numero2" class="col-md-1">.col-md-1</div>
          <div id="numero3" class="col-md-1">.col-md-1</div>
          <div id="numero4" class="col-md-1">.col-md-1</div>
          <div id="numero5" class="col-md-1">.col-md-1</div>
          <div id="numero6" class="col-md-1">.col-md-1</div>
          <div id="numero7" class="col-md-1">.col-md-1</div>
          <div id="numero8" class="col-md-1">.col-md-1</div>
          <div id="numero9" class="col-md-1">.col-md-1</div>
    </div>
    <br />
    <div class="row">
        <table id="tablelog" class="table table-bordered">
            <thead>
            <tr>
                <th>Tipo</th>
                <th>Experado</th>
                <th>Resposta</th>
                <th>Dados</th>
                <th>Horário</th>
            </tr>
            </thead>
            <tbody>
            {% for log  in logs %}
                <tr {% if log.type_log.value == 1 %} id="inicio" {% endif %}>
                    <td >{{ log.type_log }}</td>
                    <td>{{ log.expected}} </td>
                    <td>{{ log.result}} </td>
                    <td>{{ log.data}} </td>
                    <td>{{ log.created_date|date:"h:m:s" }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>

{% endblock %}


{% block list-group %}
    <p>Alunos</p>
    <ul class="list-group">
        {% for key, value in user_dic_data.items %}
            <li class="list-group-item"><a href="{% url 'relatorio_individual' user_pk=value.id game_pk=game.id%}">{{ key }}</a></li>
        {% endfor %}
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
    </ul>
{% endblock %}


{% block scripts %}
    <script type="text/javascript" src="{% static 'js/simulator.js' %}"></script>

{% endblock %}


